---
import { type CollectionEntry, render } from "astro:content";
import type { HTMLTag, Polymorphic } from "astro/types";
import FormattedDate from "@/components/FormattedDate.astro";
import { getEffectiveUpdatedDate } from "@/utils/updatedDate";

type Props<Tag extends HTMLTag> = Polymorphic<{ as: Tag }> & {
	note: CollectionEntry<"note">;
	isPreview?: boolean | undefined;
};

const { as: Tag = "h2", note, isPreview = false } = Astro.props;
const { Content, remarkPluginFrontmatter } = await render(note);
const effectiveUpdatedDate = getEffectiveUpdatedDate(
	note.data,
	remarkPluginFrontmatter.lastModified,
);

const dateTimeOptions: Intl.DateTimeFormatOptions = {
	month: "long",
};
---

<article
	class:list={[isPreview && "bg-global-text/5 inline-grid rounded-md px-4 py-3"]}
	data-pagefind-body={isPreview ? false : true}
>
	<header>
		<Tag class:list={["text-global-text font-bold", isPreview ? "text-base md:text-lg" : "title"]}>
			{
				isPreview ? (
					<a class="cactus-link" href={`/notes/${note.id}/`}>
						{note.data.title}
					</a>
				) : (
					note.data.title
				)
			}
		</Tag>
		<div
			class:list={[
				"flex flex-wrap items-center gap-x-2 gap-y-1 font-sans font-medium",
				isPreview ? "mt-1" : "mt-3",
			]}
		>
			<span>
				<FormattedDate {...!isPreview && { dateTimeOptions }} date={note.data.publishDate} />
			</span>
			{
				!isPreview && effectiveUpdatedDate && (
					<span class="bg-accent/15 rounded-lg px-2 font-sans font-medium">
						Updated:
						<FormattedDate {...(!isPreview && { dateTimeOptions })} date={effectiveUpdatedDate} />
					</span>
				)
			}
		</div>
	</header>

	<section
		class:list={[
			"prose mt-4 max-w-none [&>p:last-of-type]:mb-0",
			isPreview ? "prose-sm md:prose-base line-clamp-4" : "prose-lg md:prose-xl",
		]}
	>
		<Content />
	</section>
</article>
