@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	:root,
	:root[data-theme="light"] {
		color-scheme: light;
		/* https://tailwindcss.com/docs/customizing-colors#using-css-variables */
		--theme-bg: 0deg 0% 98%;
		--theme-link: 24deg 90% 53%;
		--theme-text: 203deg 11% 15%;
		--theme-accent: 24deg 90% 53%;
		--theme-accent-2: 0deg 0% 7%;
		--theme-quote: 24deg 90% 53%;
	}

	:root[data-theme="dark"] {
		color-scheme: dark;
		--theme-bg: 210deg 6% 12%;
		--theme-link: 24deg 90% 66%;
		--theme-text: 220deg 3% 79%;
		--theme-accent: 24deg 90% 66%;
		--theme-accent-2: 0deg 0% 93%;
		--theme-quote: 24deg 90% 66%;
	}

	html {
		@apply scroll-smooth;
	}

	body {
		@apply mx-auto flex min-h-screen max-w-3xl flex-col bg-bgColor px-8 pt-16 font-serif text-sm font-normal text-textColor antialiased;
	}

	h2,
	h3,
	h4,
	h5,
	h6 {
		@apply font-sans;
	}
}
