@import "tailwindcss";
@import "./theme.css";
@import "./base.css";
@import "./components.css";
@import "./utilities.css";

/* config for tailwindcss-typography plugin */
@config "../../tailwind.config.ts";
