@utility prose {
	--tw-prose-body: var(--color-global-text);
	--tw-prose-lead: var(--color-muted);
	--tw-prose-bold: var(--color-global-text);
	--tw-prose-counters: var(--color-muted);
	--tw-prose-bullets: var(--color-muted);
	--tw-prose-captions: color-mix(in oklch, var(--color-global-text) 70%, transparent);
	--tw-prose-code: var(--color-global-text);
	--tw-prose-pre-code: var(--color-muted);
	--tw-prose-pre-bg: var(--color-surface);
	--tw-prose-headings: var(--color-global-text);
	--tw-prose-hr: 0.5px dashed var(--color-border);
	--tw-prose-links: var(--color-global-text);
	--tw-prose-quotes: color-mix(in oklch, var(--color-global-text) 85%, transparent);
	--tw-prose-quote-borders: color-mix(in oklch, var(--color-accent) 85%, transparent);
	--tw-prose-th-borders: var(--color-border-active);
	--tw-prose-td-borders: var(--color-border-active);
	--tw-prose-invert-body: var(--color-invert-text);
	--tw-prose-invert-headings: var(--color-invert-text);
	--tw-prose-invert-lead: var(--color-invert-muted);
	--tw-prose-invert-links: var(--color-invert-link);
	--tw-prose-invert-bold: var(--color-invert-text);
	--tw-prose-invert-counters: var(--color-invert-muted);
	--tw-prose-invert-bullets: var(--color-invert-muted);
	--tw-prose-invert-hr: 0.5px dashed var(--color-invert-border);
	--tw-prose-invert-quotes: color-mix(in oklch, var(--color-invert-text) 85%, transparent);
	--tw-prose-invert-quote-borders: color-mix(in oklch, var(--color-invert-accent) 85%, transparent);
	--tw-prose-invert-captions: color-mix(in oklch, var(--color-invert-text) 70%, transparent);
	--tw-prose-invert-code: var(--color-invert-text);
	--tw-prose-invert-pre-code: var(--color-invert-muted);
	--tw-prose-invert-pre-bg: var(--color-invert-surface);
	--tw-prose-invert-th-borders: var(--color-invert-border-active);
	--tw-prose-invert-td-borders: var(--color-invert-border-active);
}
