---
import { menuLinks, siteConfig } from "@/site.config";
import { Icon } from "astro-icon/components";

const year = new Date().getFullYear();
---

<footer
	class="mt-auto flex w-full flex-col items-center justify-center gap-y-2 pt-20 pb-8 text-center align-top font-medium text-gray-600 sm:flex-row sm:justify-between sm:text-xs dark:text-gray-400"
>
	<div class="me-0 sm:me-4">
		&copy; {year}
		{siteConfig.author}. <span class="inline-block">
			<a
				class="hover:text-global-text active:bg-link/10"
				href="https://github.com/chrismwilliams/astro-theme-cactus"
				><Icon
					aria-hidden="true"
					class="inline h-5 w-5 sm:h-4 sm:w-4"
					name={"mdi:cactus"}
				/>&nbsp;<span class="hover:underline">Based on Astro Cactus</span></a
			>
		</span>
	</div>
	<nav
		aria-labelledby="footer_links"
		class="sm:divide-global-text flex gap-x-2 sm:gap-x-0 sm:divide-x sm:divide-dotted"
	>
		{
			menuLinks.map((link) => (
				<a
					class="hover:text-global-text active:bg-link/10 px-4 py-2 hover:underline sm:py-0 sm:active:decoration-dotted"
					href={link.path}
				>
					{link.title}
				</a>
			))
		}
	</nav>
</footer>
