---
import PageLayout from "@/layouts/Base.astro";

const meta = {
	description: "The page you are looking for doesn’t exist or has been moved.",
	title: "404 - Page Not Found",
};
---

<PageLayout {meta} sourcePath="src/pages/404.astro">
	<article class="grow">
		<header class="mb-12">
			<h1 class="title">404 - Page Not Found</h1>
		</header>
		<section class="prose prose-lg md:prose-xl" aria-labelledby="not-found-content">
			<h2 class="sr-only" id="not-found-content">Page not found</h2>
			<p>The page you are looking for doesn’t exist or has been moved.</p>
			<p>
				Please use the navigation to find your way back or go to
				<a class="cactus-link" href="/">Home</a>.
			</p>
		</section>
	</article>
</PageLayout>
