---
import aboutImg from "@/assets/eling-about.jpg";
import SocialList from "@/components/SocialList.astro";
import PageLayout from "@/layouts/Base.astro";
import { Image } from "astro:assets";

const meta = {
	description: "I'm a starter theme for Astro.build",
	title: "About",
};
---

<PageLayout meta={meta}>
	<div class="prose prose-lg prose-cactus space-y-6 prose-headings:font-semibold">
		<h1 class="title">About Me</h1>
		<p>
			Hey there, I’m Eling Pramuatmaja, a tech-loving explorer on a lifelong learning adventure! 🚀
		</p>
		<div class="flex justify-center">
			<figure>
				<Image
					alt="A profile picture of Eling Pramuatmaja"
					fetchpriority="high"
					loading="eager"
					src={aboutImg}
				/>
				<figcaption class="text-center"><small>Eling circa 2023</small></figcaption>
			</figure>
		</div>
		<h2>Short Bio</h2>
		<p>
			Let me take you on a journey through my digital escapades! It all started when I stumbled upon
			the magic of coding at the tender age of 13. From that moment, I was hooked. HTML/CSS became
			my starting playground, Python my trusty sidekick for data science adventures, and Java and
			PHP my tools for crafting digital wonders.
		</p>
		<p>
			As I navigated through the vast landscape of tech, my curiosity led me to delve deeper into
			the realm of machine learning and artificial intelligence. The intricacies of natural language
			processing fascinated me, igniting a passion for understanding how technology can bridge the
			gap between human communication and digital innovation. While my bachelor's degree thesis on
			Text Summarization in Indonesian is still a work in progress, I'm eager to apply my knowledge
			and skills in real-world scenarios that push the boundaries of what’s possible.
		</p>
		<p>
			Outside the digital realm, I’m a staunch advocate for environmental conservation. My belief in
			the power of technology to drive positive change fuels my desire to explore ways in which tech
			can contribute to a sustainable future. From following climate news to actively seeking out
			green initiatives, I’m committed to leveraging my expertise in tech to make a meaningful
			impact on the world around us.
		</p>
		<h2>What's My Jam?</h2>
		<ul class="list-inside list-disc">
			<li>
				🤖 <b>Tech Enthusiast:</b> I'm always keeping an eye on the latest tech trends and developments.
				HackerNews is my daily dose of tech news!
			</li>
			<li>
				🌍 <b>Climate Advocate:</b> Passionate about the environment and the role technology plays in
				preserving it for future generations.
			</li>
			<li>
				📚 <b>Literature Lover:</b> Lost in the worlds of manga, manhwa, and anime, I find solace and
				inspiration in stories that transcend boundaries.
			</li>
			<li>
				🎲 <b>TTRPG Explorer:</b> Delving into the realms of tabletop role-playing games, I connect with
				fellow adventurers and weave tales of imagination.
			</li>
		</ul>
		<h2>What's Next?</h2>
		<p>
			As I prepare for new opportunities, I’m eager to contribute my skills and knowledge in NLP,
			tech, and related fields to meaningful projects in the tech industry.
		</p>
		<div class="not-prose"><SocialList /></div>
	</div>
</PageLayout>
