---
import { Image } from "astro:assets";
import elingImg from "@/assets/eling.jpg";
import SocialList from "@/components/SocialList.astro";
import PageLayout from "@/layouts/Base.astro";

const meta = {
	description:
		"Hi! I’m Eling Pramuatmaja. I currently work as a tech consultant for a digital marketing agency.",
	title: "About",
};
---

<PageLayout meta={meta} sourcePath="src/pages/about.astro">
	<article class="grow">
		<header class="mb-12">
			<h1 class="title">About</h1>
		</header>
		<div class="prose prose-lg md:prose-xl">
			<p>
				Hi! I’m Eling Pramuatmaja. I currently work as a tech consultant for a digital marketing
				agency. I studied computer science at <a
					class="cactus-link"
					href="https://filkom.ub.ac.id/"
					rel="noopener noreferrer"
					target="_blank">Universitas Brawijaya</a
				>, focusing on AI (artificial intelligence), particularly in text summarization for the
				Indonesian language. I’ve gained valuable industry experience through an internship as a
				software developer at <a
					class="cactus-link"
					href="https://www.blibli.com/"
					rel="noopener noreferrer"
					target="_blank">Blibli</a
				>
				and have participated in prestigious programs like the <a
					class="cactus-link"
					href="https://www.xlaxiata.co.id/en/xl-future-leader"
					rel="noopener noreferrer"
					target="_blank">XL Future Leaders</a
				>
				scholarship (Batch 9), <a
					class="cactus-link"
					href="https://goto-impact.org/generasi-gigih"
					rel="noopener noreferrer"
					target="_blank">Generasi GIGIH</a
				> 2.0 at GoTo, and <a
					class="cactus-link"
					href="https://grow.google/intl/id_id/bangkit/"
					rel="noopener noreferrer"
					target="_blank">Bangkit Academy</a
				> 2021 in machine learning.
			</p>
			<figure>
				<Image alt="A picture of Eling Pramuatmaja" priority src={elingImg} />
				<figcaption>
					Eling circa 2023. I’m not in front of the camera often, but I’ll update this when I find a
					new favorite photo!
				</figcaption>
			</figure>
			<p>
				On this blog, I share my journey through the tech world alongside my exploration of other
				interests.
			</p>
			<p>
				A topic I’m increasingly fascinated by—and hope to focus on in the future—is how technology
				can be used to positively impact the environment.
			</p>
			<p>
				Outside of tech, I’m a passionate reader and a huge fan of storytelling. You’ll find me
				diving into everything from novels and nonfiction to news, manga, and anime. I’m also an
				avid TTRPG (tabletop role-playing game) player, with <a
					class="cactus-link"
					href="https://paizo.com/pathfinder"
					rel="noopener noreferrer"
					target="_blank">Pathfinder 2e</a
				> being my current favorite over D&D 5e.
			</p>
			<p>
				Whether you’re here for tech insights or just curious about my hobbies, I hope you find
				something that resonates!
			</p>
			<div class="not-prose"><SocialList /></div>
		</div>
	</article>
</PageLayout>
