---
import { Image } from "astro:assets";
import elingImg from "@/assets/eling.jpg";
import SocialList from "@/components/SocialList.astro";
import PageLayout from "@/layouts/Base.astro";

const meta = {
	description:
		"Hi! I’m Eling Pramuatmaja. I currently work as a tech consultant for a digital marketing agency.",
	title: "About",
};
---

<PageLayout meta={meta} sourcePath="src/pages/about.astro">
	<article class="grow">
		<header class="mb-12">
			<h1 class="title">About</h1>
		</header>
		<div class="prose prose-lg md:prose-xl">
			<p>
				Hi! I’m Eling Pramuatmaja. I currently work as a tech consultant for a digital marketing
				agency. I studied computer science at <a
					class="cactus-link is-external"
					href="https://filkom.ub.ac.id/"
					rel="noopener noreferrer"
					target="_blank">Universitas Brawijaya</a
				>, focusing on AI—particularly Indonesian text summarization. I’ve also had some great
				learning experiences through an internship at <a
					class="cactus-link is-external"
					href="https://www.blibli.com/"
					rel="noopener noreferrer"
					target="_blank">Blibli</a
				>
				, plus programs like <a
					class="cactus-link is-external"
					href="https://www.xlaxiata.co.id/en/xl-future-leader"
					rel="noopener noreferrer"
					target="_blank">XL Future Leaders</a
				>
				(Batch 9), <a
					class="cactus-link is-external"
					href="https://goto-impact.org/generasi-gigih"
					rel="noopener noreferrer"
					target="_blank">Generasi GIGIH</a
				> 2.0 at GoTo, and <a
					class="cactus-link is-external"
					href="https://grow.google/intl/id_id/bangkit/"
					rel="noopener noreferrer"
					target="_blank">Bangkit Academy</a
				> 2021 in machine learning.
			</p>
			<figure>
				<Image alt="A picture of Eling Pramuatmaja" priority src={elingImg} />
				<figcaption>
					Eling, circa 2023. I’m rarely the one in front of the camera, but I’ll swap this out when
					I find a new favorite photo!
				</figcaption>
			</figure>
			<p>
				On this blog, I write about my journey in tech, plus whatever else I’m curious about along
				the way. Expect a mix of longer posts and shorter notes—sometimes tech learnings, sometimes
				bookish stuff, sometimes the occasional career update.
			</p>
			<p>
				Lately, I’ve been especially interested in how technology can have a real, positive impact
				on the environment—and I’m hoping to explore that more in the future.
			</p>
			<p>
				Outside of tech, I’m a big reader, and I love storytelling. I bounce between novels,
				nonfiction, news, manga, and anime. I’m also an avid TTRPG player—my current favorite is <a
					class="cactus-link is-external"
					href="https://paizo.com/pathfinder"
					rel="noopener noreferrer"
					target="_blank">Pathfinder 2e</a
				>.
			</p>
			<p>
				Whether you’re here for tech-related content or simply curious about my hobbies, I hope you
				find something that resonates with you.
			</p>
			<div class="not-prose"><SocialList /></div>
		</div>
	</article>
</PageLayout>
