---
import { Image } from "astro:assets";
import aboutImg from "@/assets/eling-about.jpg";
import SocialList from "@/components/SocialList.astro";
import PageLayout from "@/layouts/Base.astro";

const meta = {
	description: "I'm a starter theme for Astro.build",
	title: "About",
};
---

<PageLayout meta={meta}>
	<div class="prose prose-base prose-cactus space-y-6 md:prose-lg prose-headings:font-semibold">
		<h1 class="not-prose title">About</h1>
		<h2>About This Blog</h2>
		<p>
			Welcome to my slice of the web—a cozy nook where tech and tales intertwine. Here’s a sneak
			peek into what brews in my mind:
		</p>
		<ul class="list-inside list-disc">
			<li>
				<b>Life Bytes:</b> Dive into the chapters of my life—from distant lands to daily musings, and
				perhaps a sprinkle of self-help wisdom when the muse strikes.
			</li>
			<li>
				<b>Tech Tales:</b> From back-end to machine learning, follow my odyssey as I build stuff, unravel
				the mysteries of AI, and share the gems I uncover along the way.
			</li>
			<li>
				<b>Otaku Chronicles:</b> A space dedicated to my love for manga, manhwa, and the occasional anime.
				Expect infrequent reviews and discussions on the narratives that captivate me.
			</li>
			<li>
				<b>TTRPG Adventures:</b> Fresh on the TTRPG trail, I’m chronicling my quests and campaigns. It’s
				not just D&D 5e—expect tales from Pathfinder 2e to Call of Cthulhu 7e and beyond.
			</li>
		</ul>
		<h2>About Me</h2>
		<div class="flex justify-center">
			<figure>
				<Image
					alt="A profile picture of Eling Pramuatmaja"
					fetchpriority="high"
					loading="eager"
					src={aboutImg}
				/>
				<figcaption class="text-center">Eling circa 2023</figcaption>
			</figure>
		</div>
		<p>
			I’m Eling Pramuatmaja, a tech enthusiast navigating the final chapters of my bachelor’s degree
			and trying to make strides in the tech industry. My undergraduate thesis in text summarization
			is just the beginning of my quest to contribute to innovative tech solutions.
		</p>
		<p>
			While I’m not categorically an eco-activist, I’m a keen follower of green tech and climate
			news, always exploring how technology can contribute to environmental sustainability.
		</p>
		<p>
			My leisure time is a blend of reading manga and manhwa, watching anime, and immersing myself
			in the rich storytelling of TTRPGs. These hobbies are more than pastimes; they’re a source of
			inspiration and connection.
		</p>
		<p>
			Whether you’re a tech professional or a narrative enthusiast, there’s something here for you!
		</p>
		<div class="not-prose"><SocialList /></div>
	</div>
</PageLayout>
