---
import aboutImg from "@/assets/eling.jpg";
import SocialList from "@/components/SocialList.astro";
import PageLayout from "@/layouts/Base.astro";
import { Image } from "astro:assets";

const meta = {
	description: "I'm a starter theme for Astro.build",
	title: "About",
};
---

<PageLayout meta={meta}>
	<div class="space-y-6">
		<h1 class="title">About</h1>
		<p>
			Hi, I’m Eling Pramuatmaja. I love to say that I’m a technology and data enthusiast who has a
			passion for lifelong learning, but your mileage may vary if you know me personally 😁.
		</p>
		<div class="flex justify-center">
			<figure>
				<Image
					alt="A profile picture of Eling Pramuatmaja"
					fetchpriority="high"
					loading="eager"
					src={aboutImg}
				/>
				<figcaption class="text-center"><small>Eling circa 2020</small></figcaption>
			</figure>
		</div>
		<h2 class="text-xl">Short Bio</h2>
		<small>(From my LinkedIn)</small>
		<p>
			When I was 13, I learned that you could change the color of texts in a website—I touched upon
			HTML/CSS. It was an amazing moment! I realized that you could build stuff and solve problems
			by typing codes in front of a computer, a tool that I’ve loved since I was little. Thus I
			yearned to learn more, studying HTML/CSS and JavaScript by myself on various online platforms.
		</p>
		<p>
			Growing from this passion for learning, I grasped various interests along the way. From
			realizing the importance of the human condition to understand others, discerning the
			significance of our environment for a sustainable future, to doing scientific research and
			recognizing how data could uncover invisible patterns.
		</p>
		<p>
			These backgrounds have made me into a technology and data enthusiast who has a passion for
			lifelong learning and agility in adapting to changes.
		</p>
		<p>
			I’m eager to learn various stuff and thus experienced in using Python for data science and
			Java or PHP for backend programming, with a sprinkle of HTML/CSS & JavaScript for web
			development. In my spare time, I’m passionate about doing data competitions and reading the
			latest scientific research and news. Currently, in the tech world, I have a great interest in
			the state of machine learning, specifically natural language processing.
		</p>
		<p>
			I was also fortunate to be acknowledged by some prestigious scholarship programs like Google
			Bangkit 2021, YABB & GoTo Generasi GIGIH 2.0, Blibli Future Program Batch 5, XL Future Leaders
			Batch 9, and Beasiswa Unggulan 2019 from the Ministry of Education and Culture.
		</p>
		<p>Some of my current interests are:</p>
		<ul class="list-inside list-disc">
			<li>Machine learning (My thesis was about NLP!)</li>
			<li>Climate change</li>
			<li>Manga/manhwa (I read a lot. Maybe too many...)</li>
			<li>Anime</li>
			<li>TTRPG (I’ve been playing a lot of D&D 5e, Pathfinder 2e, among others lately.)</li>
		</ul>
		<SocialList />
	</div>
</PageLayout>
