---
import { Image } from "astro:assets";
import elingImg from "@/assets/eling.jpg";
import SocialList from "@/components/SocialList.astro";
import PageLayout from "@/layouts/Base.astro";

const meta = {
	description: "Hi! I’m Eling Pramuatmaja.",
	title: "About",
};
---

<PageLayout meta={meta} sourcePath="src/pages/about.astro">
	<article class="grow">
		<header class="mb-12">
			<h1 class="title">About</h1>
		</header>
		<div class="prose prose-lg md:prose-xl">
			<p>
				Hi! I’m Eling Pramuatmaja, a final-year computer science student focusing on AI (artificial
				intelligence), particularly in text summarization for Indonesian news. I’ve gained valuable
				industry experience through an internship as a software developer at Blibli and have
				participated in prestigious programs like the XL Future Leaders scholarship (Batch 9),
				Generasi GIGIH 2.0 at Gojek, and Bangkit Academy 2021 in machine learning.
			</p>
			<figure>
				<Image alt="A picture of Eling Pramuatmaja" priority src={elingImg} />
				<figcaption>
					Eling circa 2023. I’m not in front of the camera often, but I’ll update this when I find a
					new favorite photo!
				</figcaption>
			</figure>
			<p>
				I currently work part-time as a tech specialist, where I apply my skills to bridge
				technology and practical solutions. On this blog, I share my journey through the tech world
				alongside my exploration of other interests.
			</p>
			<p>
				A topic I’m increasingly fascinated by—and hope to focus on in the future—is how technology
				can be used to positively impact the environment.
			</p>
			<p>
				Outside of tech, I’m a passionate reader and a huge fan of storytelling. You’ll find me
				diving into everything from novels and nonfiction to news, manga, and anime. I’m also an
				avid TTRPG (tabletop role-playing game) player, with Pathfinder 2e being my current favorite
				over D&D 5e. While I’m just starting to write about these interests, I’m excited to share my
				thoughts as I dive deeper.
			</p>
			<p>
				Whether you’re here for tech insights or just curious about my hobbies, I hope you find
				something that resonates!
			</p>
			<div class="not-prose"><SocialList /></div>
		</div>
	</article>
</PageLayout>
