---
import SocialList from "@/components/SocialList.astro";
import PostPreview from "@/components/blog/PostPreview.astro";
import PageLayout from "@/layouts/Base.astro";
import { getAllPosts, sortMDByDate } from "@/data/post";

const MAX_POSTS = 10;
const allPosts = await getAllPosts();
const allPostsByDate = sortMDByDate(allPosts).slice(0, MAX_POSTS);

const elingProject: { desc: string; href: string; title: string }[] = [
	{
		desc: "AI app to recognize several categories of foods and their calories.",
		href: "https://github.com/husain502/Careproject",
		title: "CARE (Camera Calories)",
	},
	{
		desc: "Simple ML algorithms from scratch using Python.",
		href: "https://github.com/elingp/ml-from-scratch",
		title: "ML from Scratch",
	},
	{
		desc: "SPA boilerplate using vanilla JavaScript and Webpack 5.",
		href: "https://github.com/elingp/vanilla-spa-webpack-boilerplate",
		title: "Vanilla SPA Webpack Boilerplate",
	},
	{
		desc: "Forum-style programming Q&A website.",
		href: "https://github.com/elingp/tanja-pemrograman",
		title: "Tanja Pemrograman",
	},
	{
		desc: "Internal study resources aggregator website.",
		href: "https://github.com/elingp/seenau",
		title: "Seenau",
	},
	{
		desc: "Health Center patient information management website.",
		href: "https://github.com/elingp/sistem-informasi-puskesmas",
		title: "Sistem Informasi Puskesmas",
	},
];
---

<PageLayout meta={{ title: "Home" }}>
	<section>
		<h1 class="title mb-6">Hello, World!</h1>
		<p class="mb-4">
			I’m <b>Eling</b>. Here, I share my journey through tech, my random musings, and my adventures
			in manga/anime and TTRPGs. While I’m still discovering my niche, you’ll find a bit of
			everything that captures my interest. Enjoy!
		</p>
		<SocialList />
	</section>
	<section aria-label="Blog post list" class="mt-16">
		<h2 class="title mb-4 text-xl md:text-2xl">Most Recent 10 Posts</h2>
		<ul class="space-y-4">
			{
				allPostsByDate.map((p) => (
					<li class="flex flex-col gap-x-2 sm:flex-row">
						<PostPreview post={p} />
					</li>
				))
			}
		</ul>
	</section>
	<section class="mt-16">
		<h2 class="title mb-4 text-xl md:text-2xl">Public Projects</h2>
		<dl class="space-y-4">
			{
				elingProject.map(({ desc, href, title }) => (
					<div class="flex flex-col gap-2 md:flex-row">
						<dt>
							<span class="flex">
								<a class="cactus-link" href={href} rel="noopener noreferrer" target="_blank">
									{title}
								</a>
								:
							</span>
						</dt>
						<dd>{desc}</dd>
					</div>
				))
			}
		</dl>
	</section>
</PageLayout>
