---
import type { EnrichedQuotedTweet } from "./api.ts";
import QuotedTweetBody from "./QuotedTweetBody.astro";
import QuotedTweetHeader from "./QuotedTweetHeader.astro";
import TweetMedia from "./TweetMedia.astro";

interface Props {
	tweet: EnrichedQuotedTweet;
}

const { tweet } = Astro.props;
---

<div class="tweet-quoted">
	<a href={tweet.url} class="tweet-quoted-link" target="_blank" rel="noopener noreferrer">
		<QuotedTweetHeader {tweet} />
	</a>
	<QuotedTweetBody {tweet} />
	{tweet.mediaDetails?.length ? <TweetMedia tweet={tweet} quoted /> : null}
</div>
