---
interface Props {
	href: string;
	className?: string;
}

const { href, className } = Astro.props;
---

<a {href} class:list={["tweet-link", className]} target="_blank" rel="noopener noreferrer nofollow">
	<slot />
</a>
