---
import type { HTMLAttributes } from "astro/types";
import ExternalLink from "@/components/ExternalLink.astro";

interface Props extends Omit<HTMLAttributes<"a">, "href"> {
	href: string;
	label: string;
	newTab?: boolean;
	showNewTabHint?: boolean;
}

const { href, label, newTab, showNewTabHint = true, class: className, ...attrs } = Astro.props;
---

<ExternalLink
	href={href}
	class={className}
	showNewTabHint={showNewTabHint}
	{...newTab === undefined ? {} : { newTab }}
	{...attrs}
>
	<span class="sr-only">{label}</span>
	<slot />
</ExternalLink>
