---
// Heavy inspiration taken from Astro Starlight -> https://github.com/withastro/starlight/blob/main/packages/starlight/components/Search.astro
import { Icon } from "astro-icon/components";
import "@/styles/blocks/search.css";
---

<search class="ms-auto" id="search" aria-label="Site search">
	<site-search>
		<button
			class="hover:text-accent focus-visible:ring-accent flex h-9 w-9 cursor-pointer items-center justify-center rounded-md focus-visible:ring-2 focus-visible:outline-none"
			aria-haspopup="dialog"
			aria-controls="search-dialog"
			aria-expanded="false"
			aria-keyshortcuts="Control+K Meta+K"
			data-open-modal
			disabled
		>
			<Icon aria-hidden="true" name="fa7-solid:search" title="Search" class="h-6 w-6" />
			<span class="sr-only">Open Search</span>
		</button>
		<dialog
			aria-labelledby="search-title"
			aria-describedby="search-description"
			id="search-dialog"
			class="bg-global-bg border-ui h-full max-h-full w-full max-w-full border shadow-sm backdrop:backdrop-blur-sm open:flex lg:mx-auto lg:mt-16 lg:mb-auto lg:h-max lg:max-h-[calc(100%-8rem)] lg:min-h-[15rem] lg:w-5/6 lg:max-w-[48rem] lg:rounded-md"
		>
			<div class="dialog-frame flex grow flex-col gap-4 p-6 pt-12 lg:pt-6">
				<h2 class="sr-only" id="search-title">Site search</h2>
				<p class="sr-only" id="search-description">
					Search the site content and open results in the current page.
				</p>
				<button
					class="bg-ui-2 text-global-text hover:bg-ui-3 border-ui focus-visible:ring-accent ms-auto cursor-pointer rounded-md border p-2 font-semibold transition-colors focus-visible:ring-2 focus-visible:outline-none"
					data-close-modal
					type="button"
				>
					Close
				</button>
				{
					import.meta.env.DEV ? (
						<div class="mx-auto text-center">
							<p>
								Search is only available in production builds. <br />
								Try building and previewing the site to test it out locally.
							</p>
						</div>
					) : (
						<div class="search-container" aria-live="polite">
							<div id="cactus__search" />
						</div>
					)
				}
			</div>
		</dialog>
	</site-search>
</search>

<script>
	class SiteSearch extends HTMLElement {
		#closeBtn: HTMLButtonElement | null;
		#dialog: HTMLDialogElement | null;
		#dialogFrame: HTMLDivElement | null;
		#openBtn: HTMLButtonElement | null;
		#controller: AbortController;

		constructor() {
			super();
			this.#openBtn = this.querySelector<HTMLButtonElement>("button[data-open-modal]");
			this.#closeBtn = this.querySelector<HTMLButtonElement>("button[data-close-modal]");
			this.#dialog = this.querySelector<HTMLDialogElement>("dialog");
			this.#dialogFrame = this.querySelector(".dialog-frame");
			this.#controller = new AbortController();

			// Set up events
			if (this.#openBtn) {
				this.#openBtn.addEventListener("click", this.openModal);
				this.#openBtn.disabled = false;
			} else {
				console.warn("Search button not found");
			}

			if (this.#closeBtn) {
				this.#closeBtn.addEventListener("click", this.closeModal);
			} else {
				console.warn("Close button not found");
			}

			if (this.#dialog) {
				this.#dialog.addEventListener("close", () => {
					this.#openBtn?.setAttribute("aria-expanded", "false");
					this.#openBtn?.focus();
					window.removeEventListener("click", this.onWindowClick);
				});
			} else {
				console.warn("Dialog not found");
			}

			// only add pagefind in production
			if (import.meta.env.DEV) return;
			const onIdle = window.requestIdleCallback || ((cb) => setTimeout(cb, 1));
			onIdle(async () => {
				const { PagefindUI } = await import("@pagefind/default-ui");
				new PagefindUI({
					baseUrl: import.meta.env.BASE_URL,
					bundlePath: import.meta.env.BASE_URL.replace(/\/$/, "") + "/pagefind/",
					element: "#cactus__search",
					showImages: false,
					showSubResults: true,
				});
			});
		}

		connectedCallback() {
			// window events, requires cleanup
			window.addEventListener("keydown", this.onWindowKeydown, { signal: this.#controller.signal });
		}

		disconnectedCallback() {
			this.#controller.abort();
		}

		openModal = (event?: MouseEvent) => {
			if (!this.#dialog) {
				console.warn("Dialog not found");
				return;
			}

			this.#dialog.showModal();
			this.#openBtn?.setAttribute("aria-expanded", "true");
			this.querySelector("input")?.focus();
			event?.stopPropagation();
			window.addEventListener("click", this.onWindowClick, { signal: this.#controller.signal });
		};

		closeModal = () => {
			this.#dialog?.close();
			this.#openBtn?.setAttribute("aria-expanded", "false");
		};

		onWindowClick = (event: MouseEvent) => {
			const target = event.target as HTMLElement | null;
			const isLink = Boolean(target?.closest("a"));
			const clickedOutside = Boolean(target && !this.#dialogFrame?.contains(target));
			if (isLink || clickedOutside) {
				this.closeModal();
			}
		};

		onWindowKeydown = (e: KeyboardEvent) => {
			if (!this.#dialog) {
				console.warn("Dialog not found");
				return;
			}
			// check if it's the Control+K or ⌘+K shortcut
			if ((e.metaKey === true || e.ctrlKey === true) && e.key === "k") {
				this.#dialog.open ? this.closeModal() : this.openModal();
				e.preventDefault();
			}
		};
	}

	customElements.define("site-search", SiteSearch);
</script>
