---
import { Icon } from "astro-icon/components";
import IconLink from "@/components/IconLink.astro";

const socialLinks: {
	friendlyName: string;
	isWebmention?: boolean;
	link: string;
	name: string;
	newTab?: boolean;
}[] = [
	{
		friendlyName: "GitHub",
		link: "https://github.com/elingp",
		name: "fa7-brands:github",
		newTab: true,
	},
	{
		friendlyName: "LinkedIn",
		link: "https://linkedin.com/in/elingp/",
		name: "fa7-brands:linkedin",
		newTab: true,
	},
	{
		friendlyName: "Twitter",
		link: "https://x.com/eling_p",
		name: "fa7-brands:x-twitter",
		newTab: true,
	},
	{
		friendlyName: "stats.fm for Spotify",
		link: "https://stats.fm/elingp",
		name: "fa7-brands:spotify",
		newTab: true,
	},
	{
		friendlyName: "Email",
		link: "mailto:eling@eling.id",
		name: "fa7-solid:envelope",
		newTab: false,
	},
];
---

<nav aria-labelledby="social-links-title" class="flex flex-wrap items-end gap-x-2">
	<p id="social-links-title">Find me on</p>
	<ul class="flex flex-1 items-center gap-x-2 sm:flex-initial">
		{
			socialLinks.map(({ friendlyName, isWebmention, link, name, newTab }) => (
				<li class="flex">
					<IconLink
						class="hover:text-accent inline-block"
						href={link}
						label={friendlyName}
						newTab={newTab ?? true}
						rel={isWebmention ? "me authn" : undefined}
					>
						<Icon
							aria-hidden="true"
							class="h-8 w-8"
							focusable="false"
							title={friendlyName}
							name={name}
						/>
					</IconLink>
				</li>
			))
		}
	</ul>
</nav>
