---
import { Icon } from "astro-icon/components";

/**
	Uses https://www.astroicon.dev/getting-started/
	Find icons via guide: https://www.astroicon.dev/guides/customization/#open-source-icon-sets
	Installed packs: @iconify-json/fa7-brands, @iconify-json/fa7-solid
*/
const socialLinks: {
	friendlyName: string;
	isWebmention?: boolean;
	link: string;
	name: string;
}[] = [
	{
		friendlyName: "GitHub",
		link: "https://github.com/elingp",
		name: "fa7-brands:github",
	},
	{
		friendlyName: "LinkedIn",
		link: "https://linkedin.com/in/elingp/",
		name: "fa7-brands:linkedin",
	},
	{
		friendlyName: "Twitter",
		link: "https://x.com/eling_p",
		name: "fa7-brands:x-twitter",
	},
	{
		friendlyName: "stats.fm for Spotify",
		link: "https://stats.fm/elingp",
		name: "fa7-brands:spotify",
	},
	{
		friendlyName: "Email",
		link: "mailto:eling@eling.id",
		name: "fa7-solid:envelope",
	},
];
---

<div class="flex flex-wrap items-end gap-x-2">
	<p>Find me on</p>
	<ul class="flex flex-1 items-center gap-x-2 sm:flex-initial">
		{
			socialLinks.map(({ friendlyName, isWebmention, link, name }) => (
				<li class="flex">
					<a
						class="hover:text-accent active:bg-link/10 inline-block"
						href={link}
						rel={`noreferrer ${isWebmention ? "me authn" : ""}`}
						target="_blank"
					>
						<Icon aria-hidden="true" class="h-8 w-8" focusable="false" name={name} />
						<span class="sr-only">{friendlyName}</span>
					</a>
				</li>
			))
		}
	</ul>
</div>
