---
interface Props {
	id: string;
}

const { id } = Astro.props;
const tweetUrl = id.replace("https://x.com/", "https://twitter.com/");
---

<div class="twitter-post" data-tweet-id={tweetUrl}>
	<blockquote class="twitter-tweet" data-dnt="true">
		<a href={tweetUrl}></a>
	</blockquote>
</div>

<script is:inline>
	if (!window.__twitterPostInit) {
		window.__twitterPostInit = true;

		const getTheme = () =>
			document.documentElement.getAttribute("data-theme") === "dark" ? "dark" : "light";

		const renderTweets = () => {
			const theme = getTheme();
			let updated = false;
			for (const container of document.querySelectorAll(".twitter-post")) {
				if (container.dataset.renderedTheme === theme) {
					continue;
				}
				container.dataset.renderedTheme = theme;
				const tweetUrl = container.dataset.tweetId;
				const blockquote = document.createElement("blockquote");
				blockquote.className = "twitter-tweet";
				blockquote.setAttribute("data-dnt", "true");
				blockquote.setAttribute("data-theme", theme);
				const anchor = document.createElement("a");
				anchor.href = tweetUrl;
				blockquote.append(anchor);
				container.replaceChildren(blockquote);
				updated = true;
			}
			if (updated && window.twttr?.widgets?.load) {
				window.twttr.widgets.load();
			}
		};

		const widgetsScript = document.querySelector("script[data-twitter-widgets]");
		if (widgetsScript) {
			widgetsScript.addEventListener("load", renderTweets, { once: true });
			renderTweets();
		} else {
			const script = document.createElement("script");
			script.async = true;
			script.src = "https://platform.twitter.com/widgets.js";
			script.dataset.twitterWidgets = "true";
			script.addEventListener("load", renderTweets, { once: true });
			document.head.append(script);
		}

		document.addEventListener("theme-change", renderTweets);
		document.addEventListener("astro:after-swap", renderTweets);
		window.matchMedia("(prefers-color-scheme: dark)").addEventListener("change", renderTweets);
	}
</script>
