---
import type { CollectionEntry } from "astro:content";
import type { HTMLTag, Polymorphic } from "astro/types";
import FormattedDate from "@/components/FormattedDate.astro";

type Props<Tag extends HTMLTag> = Polymorphic<{ as: Tag }> & {
	post: CollectionEntry<"post">;
	withDesc?: boolean;
};

const { as: Tag = "h3", post, withDesc = false } = Astro.props;
---

<article class="grid gap-0 lg:grid-cols-[auto_1fr] lg:gap-0.5 lg:[&_p]:col-start-2">
	<FormattedDate
		class="text-muted min-w-30 text-base font-medium md:text-lg"
		date={post.data.publishDate}
	/>
	<Tag class="text-base leading-tight font-medium md:text-lg md:leading-snug">
		{post.data.draft && <span class="text-danger">(Draft) </span>}
		<a class="cactus-link" href={`/posts/${post.id}/`}>
			{post.data.title}
		</a>
	</Tag>
	{withDesc && <p class="line-clamp-3 text-sm italic">{post.data.description}</p>}
</article>
