name: ci

on:
  push:
    branches: [dev]
  pull_request:
    branches: [main, dev]

permissions:
  contents: read

jobs:
  cache-and-install:
    name: Check for build and type issues
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Install pnpm
        uses: pnpm/action-setup@v4
        with:
          run_install: false

      - name: Setup node
        uses: actions/setup-node@v6
        with:
          node-version: 24
          cache: "pnpm"

      - name: Install dependencies
        run: pnpm install

        # use astro check for issues
      - name: Run Astro check
        run: pnpm astro check

        # ensure build works
      - name: Run Astro build
        run: pnpm build
